  css
  body {
	font-family: 'Hack', monospace;
        background-color: #191a1a;
        color:  #46aa9e;
  }
  
  a {
  color:  #46aa9e; 
  text-decoration: none; 
  }  
  
  a:hover {
  color: #2c7761;
  text-decoration: underline;
  }  
